NEXT_PUBLIC_SUPABASE_URL=https://cechkmorvhmtcssundrm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNlY2hrbW9ydmhtdGNzc3VuZHJtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ5MzI1MDIsImV4cCI6MjA3MDUwODUwMn0.9uDrWlNl-lRAhDxKORwzZwSPQLXrDRVClCje7EqVR2o
SUPABASE_SERVICE_ROLE_KEY=

# NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
# NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZS1kZW1vIiwicm9sZSI6ImFub24iLCJleHAiOjE5ODM4MTI5OTZ9.CRXP1A7WOeoJeXxjNni43kdQwgnWNReilDMblYTn_I0

DATABASE_PASS=bv1Jg6t6bMNQ0F6m

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_cm9idXN0LXNwYW5pZWwtMzAuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_IaMKitXAiLg44va0NlTRq6na0Lyaggz8ojdWXQC0Vk
CLERK_WEBHOOK_SECRET=